In [5]:
from sqlalchemy import create_engine
import pandas as pd

# Example engine for MySQL
engine = create_engine("mysql+pymysql://Jorge:95014139@127.0.0.1/sakila")

In [6]:
# Test the connection by listing the tables
with engine.connect() as connection:
    tables = pd.read_sql("SHOW TABLES;", connection)
    print(tables)

              Tables_in_sakila
0                        actor
1                   actor_info
2                      address
3                     category
4                         city
5                      country
6                     customer
7                customer_list
8      customer_rental_summary
9                         film
10                  film_actor
11               film_category
12                   film_list
13                   film_text
14                   inventory
15                    language
16  nicer_but_slower_film_list
17                     payment
18                      rental
19      sales_by_film_category
20              sales_by_store
21                       staff
22                  staff_list
23                       store

In [ ]:
def rentals_month(engine, month, year):
    query = f"""
        SELECT rental_id, rental_date, customer_id
        FROM rental
        WHERE MONTH(rental_date) = {month}
          AND YEAR(rental_date) = {year}
    """
    df = pd.read_sql(query, engine)
    return df

In [ ]:
def rental_count_month(df, month, year):
    rental_col = f"rentals_{str(month).zfill(2)}_{year}"
    result = (
        df.groupby("customer_id")
        .agg({ "rental_id": "count" })
        .rename(columns={"rental_id": rental_col})
        .reset_index()
    )
    return result

In [ ]:
def compare_rentals(df1, df2):
    merged = pd.merge(df1, df2, on="customer_id", how="inner")
    
    # Get column names for difference calculation
    col1 = merged.columns[1]
    col2 = merged.columns[2]
    
    merged["difference"] = merged[col2] - merged[col1]
    return merged